{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
{% set date = node.createdtime|format_date('help') %}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  <div class="container">
    <div class="col-md-2 col-md-offset-1 padding-20px">{{ date }}</div>
    <div class="col-md-9"><h1>{{label.0}}</h1></div>
  </div>
  <div class="row padding-20px breadcrumb margin-b-0">
    <div class="container">
      <div class="col-md-8 col-md-offset-3">{{content.field_description}}</div>
    </div>
  </div>
</article>
